/* ==UserStyle==
@name           Messenger Dynamic Sidebar
@description    Show and hide your chat sidebar seamlessly
@author         reizumi
@namespace      codeberg.org/reizumi
@homepageURL    https://codeberg.org/reizumi/userstyles
@updateURL      https://codeberg.org/reizumi/userstyles/raw/branch/master/messenger-dynamic-sidebar.user.css
@preprocessor   stylus
@version        1.3.1
@license        CC-BY-SA-4.0

@var text       sidebarSpeed    "Sidebar speed"                 .2s
@var text       sidebarDelay    "Sidebar leave delay"           .1s
@var select     sidebarEase     "Sidebar easing" {
    "Ease*"         : "ease",
    "Ease-in"       : "ease-in",
    "Ease-out"      : "ease-out",
    "Ease-in-out"   : "ease-in-out",
    "Cubic bezier"  : "cubic-bezier"
}
@var text       sidebarWidth    "Sidebar width (focused)"       360px
@var text       sidebarBezier   "Sidebar cubic bezier"          cubic-bezier(0, 1.5, 1, 1)
@var checkbox   hideActionBar   "Hide action bar"               1
@var text       actionBarDelay  "Action bar trigger delay"      .15s
==/UserStyle== */

@-moz-document domain("messenger.com") {
    if hideActionBar {
        .x9f619.x1n2onr6.x1ja2u2z.x78zum5.xdt5ytf.x2lah0s.x193iq5w.xeuugli.x1y71gwh.xu3j5b3.xm81vs4.xexx8yu.x18d9i69.xkhd6sd.x4uap5 {
            max-width: 0;
            overflow: hidden;
            border-right-color: var(--web-wash);
            transition: max-width sidebarSpeed;
            transition-delay: actionBarDelay;
        }
        .x9f619.x1n2onr6.x1ja2u2z.x78zum5.xdt5ytf.x2lah0s.x193iq5w.xeuugli.x1y71gwh.xu3j5b3.xm81vs4.xexx8yu.x18d9i69.xkhd6sd.x4uap5:hover {
            max-width: 248px;
            border-right-color: var(--media-inner-border);
        }
    }
    sidebarEase = sidebarEase == "cubic-bezier" ? sidebarBezier : sidebarEase;
    
    /* Header */
    .x9f619.x1n2onr6.x1ja2u2z.x78zum5.x2lah0s.x1qughib.x6s0dn4.xozqiw3.x1q0g3np.x1sy10c2.xktsk01.xod5an3.x1d52u69 {
        opacity: 0;
        height: 0;
        margin: 0 16px;
        overflow: hidden;
        transition: sidebarSpeed sidebarEase;
    }
    /* Search */
    .x9f619.x1n2onr6.x1ja2u2z.xsag5q8.x1yrsyyn {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: sidebarSpeed sidebarEase;
    }
    /* Text Header */
    .x1cvmir6 .x1heor9g.x1qlqyl8.x1pd3egz.x1a2a7pz {
        min-width: 150px;
    }
    /* Unread Message Indicator */
    .x1cvmir6 .x1fsd2vl[data-visualcompletion="ignore"] {
        position: relative;
        right: 82px;
        transition-delay: sidebarDelay;
    }
    /* Notification bell */
    .x1cvmir6 .xozqiw3.x78zum5.x6s0dn4 svg {
        display: none;
    }
    /* Hide contents */
    .x9f619.x1n2onr6.x1ja2u2z.x78zum5.x1iyjqo2.xs83m0k.xeuugli.x1qughib.x6s0dn4.x1a02dak.x1q0g3np.xdl72j9 {
        overflow: hidden;
    }
    /* Sidebar (not focused) */
    .x1cvmir6 {
        width: 80px;
        min-width: 80px;
        transition: width sidebarSpeed sidebarEase;
        transition-delay: sidebarDelay;
    }
    @media only screen and (min-width: 900px) {
        /* Sidebar (focused) */
        .x1vjfegm:hover .x1cvmir6 {
            width: sidebarWidth;
            transition-delay: 0s;
        }
        /* Header (focused) */
        .x1vjfegm:hover .x1cvmir6 .x9f619.x1n2onr6.x1ja2u2z.x78zum5.x2lah0s.x1qughib.x6s0dn4.xozqiw3.x1q0g3np.x1sy10c2.xktsk01.xod5an3.x1d52u69 {
            opacity: 1;
            height: auto;
            overflow: visible;
            margin: 20px 16px 12px 16px;
        }
        /* Search (focused) */
        .x1vjfegm:hover .x9f619.x1n2onr6.x1ja2u2z.xsag5q8.x1yrsyyn {
            opacity: 1;
            height: auto;
            overflow: visible;
        }
        /* Unread Message Indicator (focused) */
        .x1vjfegm:hover .x1cvmir6 .x1fsd2vl[data-visualcompletion="ignore"] {
            right: 0;
            transition-delay: 0s;
        }
        /* Notification bell (focused) */
        .x1vjfegm:hover .x1cvmir6 .xozqiw3.x78zum5.x6s0dn4 svg {
            display: block;
        }
        /* Scrollbar */
        .x1cvmir6 .x78zum5.xdt5ytf.x1iyjqo2.xs83m0k.x1xzczws.x6ikm8r.x1rife3k.x1n2onr6.xh8yej3 {
            overflow-y: hidden;
        }
        /* Scrollbar (focused) */
        .x1vjfegm:hover .x78zum5.xdt5ytf.x1iyjqo2.xs83m0k.x1xzczws.x6ikm8r.x1rife3k.x1n2onr6.xh8yej3 {
            overflow-y: scroll;
        }
        /* Hide contents (focused) */
        .x1vjfegm:hover .x1cvmir6 .x9f619.x1n2onr6.x1ja2u2z.x78zum5.x1iyjqo2.xs83m0k.xeuugli.x1qughib.x6s0dn4.x1a02dak.x1q0g3np.xdl72j9 {
            overflow: visible;
        }
    }
}
